@import "./resets";
@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  background: url(../img/bg.jpg);
  font-family: "Poppins", sans-serif;
}

.container_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 50px;
}

.logo {
  padding: 30px;
  padding-left: 250px;
  width: 25rem;
  background: transparent;
  cursor: pointer;
}

nav {
  padding-right: 250px;
}

li {
  display: inline-block;
  padding: 20px;
  list-style: none;
  font-weight: 530;
}

.badge {
  padding-top: 16.5px;
}

h2 {
  font-weight: 600;
  font-size: 60px;
  margin: 0;
}

h4 {
  position: absolute;
  background: transparent;
  padding-left: 45px;
  font-weight: 500;
}

.container_body_left {
  display: flex;
  flex-direction: column;
  margin: 0 300px 0;
  margin-bottom: 50px;
}

.container_body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}

.phone_image {
  margin-right: 260px;
}

.btn_1 {
  background-color: $button-color;
  color: $primary-color;
  padding: 20px;
  border-radius: 30px;
  font-weight: 900;
  font-size: 14px;
  border: transparent;
  width: 150px;
  font-family: "Poppins";
  cursor: pointer;
}

.btn_2 {
  background-color: $button-color;
  color: $primary-color;
  padding: 20px;
  border-radius: 30px;
  font-weight: 900;
  font-size: 14px;
  border: transparent;
  width: 150px;
  font-family: "Poppins";
  cursor: pointer;
}

.btn_3 {
  color: $button-color;
  background-color: transparent;
  border: transparent;
  border-radius: 30px;
  font-weight: 500;
  font-size: 17px;
  width: 200px;
  font-family: "Poppins";
  cursor: pointer;
}

.container_body_trustedcompany {
  p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
  }
}

.company_logos {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    padding-top: 10px;
    padding-left: 50px;
  }
  padding-right: 25px;
}

.container_body_two {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-right: 280px;
  h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0;
    line-height: 1.2;
  }
  p {
    font-size: 13px;
  }
}

.phoneblob {
  margin-top: 50px;
  height: 600px;
  background: transparent;
}

.content_icon {
  display: flex;
  align-items: center;
  img {
    margin-right: 25px;
  }
}

.container_body_two_right {
  width: 400px;
  margin-top: 35px;
  padding-left: 50px;
}

.container_right_one {
  margin-top: 50px;
}

.heading_span_right_one {
  font-size: 15px;
  font-weight: 600;
  color: red;
  margin-bottom: 0;
  padding-bottom: 0;
}

.heading_span_right_two {
  font-size: 15px;
  font-weight: 600;
  color: blue;
  margin-bottom: 0;
  padding-bottom: 0;
}

.heading_span_right_three {
  font-size: 15px;
  font-weight: 600;
  color: green;
  margin-bottom: 0;
  padding-bottom: 0;
}

.heading_content {
  margin-top: 0;
  padding-top: 0;
}

.container_three_one {
  margin-top: 100px;
  display: flex;
  h3 {
    font-size: 35px;
    font-weight: 600;
    width: 400px;
    margin-left: 450px;
    margin-right: -775px;
    line-height: 1.2;
  }
  p {
    font-size: 13px;
    width: 350px;
    margin-right: 570px;
    margin-left: -770px;
  }
  justify-content: center;
  align-items: center;
}

.container_three_two {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 400px;
  padding-left: 400px;
  margin-top: 50px;
}

.content_icon_three {
  display: flex;
  flex-direction: column;
  p {
    width: 270px;
  }
}

.container_three_three {
  display: flex;
  justify-content: center;
  align-items: center;
  h3 {
    font-size: 35px;
    font-weight: 600;
    width: 400px;
    line-height: 1.2;
  }
  p {
    font-size: 13px;
    width: 350px;
    margin-bottom: 30px;
  }
  img {
    padding-right: 50px;
  }
  margin-top: 50px;
}

.container_three_three_right {
  padding-left: 30px;
  padding-right: 180px;
}

.container_four_one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h3 {
    font-size: 35px;
    font-weight: 600;
    width: 425px;
    line-height: 1.2;
    text-align: center;
  }
  p {
    font-size: 13px;
    width: 530px;
    margin-bottom: 30px;
    text-align: center;
    margin-top: -10px;
  }
}

.container_four_two {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  img {
    padding-bottom: 43px;
  }
}

.container_four_two_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  h4 {
    margin: 0;
    padding: 0;
    padding-bottom: 120px;
    font-weight: 700;
  }
  p {
    width: 260px;
    font-size: 13px;
  }
}

.container_four_div {
  padding: 50px 50px 10px 50px;
}

.container_five {
  display: flex;
}

.phoneblob2 {
  padding-left: 1180px;
  margin-top: -750px;
  overflow: hidden;
}

.container_five_heading {
  h3 {
    font-size: 35px;
    font-weight: 600;
    width: 325px;
    line-height: 1.2;
    padding: 0;
    margin: 0;
    margin-left: 400px;
  }
  p {
    font-size: 13px;
    width: 350px;
    margin-left: 400px;
    margin-right: 0;
    padding-right: 0;
  }
  display: inline-block;
  padding-bottom: 100px;
}

.container_five_two_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-left: 400px;
  h4 {
    margin: 0;
    padding: 50px 0 120px 0;
    font-weight: 700;
  }
  p {
    width: 260px;
    font-size: 13px;
    padding-top: 30px;
  }
}

.container_five_two_content_two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  h4 {
    margin: 0;
    padding: 50px 0 120px 0;
    font-weight: 700;
    padding-left: 100px;
  }
  p {
    width: 350px;
    font-size: 13px;
    padding-top: 30px;
    padding-left: 100px;
  }
}

.container_five_div {
  img {
    padding-left: 0;
    margin-left: 400px;
  }
  margin-top: -30px;
  padding-bottom: 60px;
}

.container_five_div_two {
  img {
    padding-left: 0;
    margin-left: 100px;
  }
  margin-top: -30px;
}

.container_five_features {
  display: flex;
}

.btn_2_container_five {
  margin-left: 390px;
  position: relative;
}

.container_six_one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h3 {
    font-size: 35px;
    font-weight: 600;
    width: 600px;
    line-height: 1.2;
    text-align: center;
  }
  p {
    font-size: 13px;
    width: 530px;
    margin-bottom: 30px;
    text-align: center;
    margin-top: -10px;
  }
}
